div.content {
  clear:both;
  width:960px;
  height:960px;
  position: relative;
  margin-left:16.5%;
  background-color:#ffffff;
  padding:0;
  border:1px solid #dddddd;
  margin-top:5%;
  margin-bottom:10%;
  z-index: 1;
}

/* Cards*/
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.column{
  position: relative;
  display: inline-block; /* Make the width of box same as image */
}
.column .text{
  position: absolute;
  z-index: 0;
  display:block;
  margin: 0 auto;
  left: 15%;
  right: 0;
  top: 78%; /* Adjust this value to move the positioned div up and down */
  text-align: center;
  width: 97%; /* Set the width of the positioned div */
  font-size:8px;
  color:white;
  background-color:#4aaaa5;

}
